<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.ProductsMapper">

	<select id="getList" resultType="kr.smhrd.domain.ProductsDTO">
	<![CDATA[
		select * from products where prod_id > 0
	]]>
	</select>
	
	<select id="read" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_id = #{prod_id}
	</select>
</mapper>