<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.ProductsMapper">
 
	<select id="getList" resultType="kr.smhrd.domain.ProductsDTO">
	<![CDATA[
		select * from products where prod_id > 0 order by prod_id
	]]>
	</select>

	<select id="getOrderList1" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products order by prod_id ASC
	</select>
	
	<select id="getOrderList2" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products order by prod_price DESC
	</select>
	
	<select id="getOrderList3" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products order by prod_price ASC
	</select>
	
	<select id="getOrderList4" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products order by prod_rating DESC
	</select>
	
	<select id="getOrderList5" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_category='스킨케어' order by prod_id ASC
	</select>
	
	<select id="getOrderList6" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_category='마스크팩' order by prod_id ASC
	</select>
	
	<select id="getOrderList7" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_category='선케어' order by prod_id ASC
	</select>
	
	<select id="getOrderList8" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_category='클렌징' order by prod_id ASC
	</select>
	
	<select id="read" resultType="kr.smhrd.domain.ProductsDTO">
		select * from products where prod_id = #{prod_id}
	</select>
	
	<insert id="writeReview">
		insert into reviews
		values (reviews_SEQ.nextval, #{prod_id}, #{mb_id}, #{review_content}, SYSDATE, #{review_rating}, 0, 0)
	</insert>
	
	<select id="getReview" resultType="kr.smhrd.domain.ReviewsDTO">
		select * from reviews where prod_id = #{prod_id}
	</select>
	
	<select id="getGB" resultType="kr.smhrd.domain.IngreCountDTO">
		select count(case when o = '${answer}' then 1 end) as o,
       	count(case when d = '${answer}' then 1 end) as d,
       	count(case when s = '${answer}' then 1 end) as s,
       	count(case when p = '${answer}' then 1 end) as p, 
       	count(case when w = '${answer}' then 1 end) as w,
       	count(case when a = '${answer}' then 1 end) as a
		from ingredients 
		where ingred_id in (select ingred_id from product_ingredients where prod_id = #{prod_id})
	</select>
	
	<select id="getIngre" resultType="kr.smhrd.domain.IngredientsDTO">
		select ingred_kor_name 
		from ingredients 
		where ingred_id in (select ingred_id 
							from product_ingredients 
							where prod_id = #{prod_id})
	</select>
	
	<select id="getSkinType" resultType="String">
		select st_class from skintypes where st_id = (select st_id from members where mb_id = #{mb_id})
	</select>
</mapper>